[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "==2.49.0"
brotli = "==1.0.9"
certifi = "==2021.5.30"
cffi = "==1.17.1"
charset-normalizer = "==3.3.2"
click = "==8.1.8"
clickhouse-driver = "==0.2.9"
cmake = "==4.0.0"
conda = "==22.9.0"
conda-package-handling = "==2.4.0"
conda-package-streaming = "==0.11.0"
contourpy = "==1.3.0"
cryptography = "==44.0.1"
cycler = "==0.12.1"
distlib = "==0.3.8"
filelock = "==3.16.0"
fonttools = "==4.57.0"
greenlet = "==3.1.1"
holidays = "==0.69"
idna = "==3.7"
importlib-resources = "==6.5.2"
joblib = "==1.4.2"
kiwisolver = "==1.4.7"
markdown-it-py = "==3.0.0"
matplotlib = "==3.9.4"
mdurl = "==0.1.2"
numpy = "==2.0.2"
packaging = "==24.2"
pandas = "==2.2.3"
patsy = "==1.0.1"
pillow = "==11.1.0"
pipenv = "==2024.0.1"
platformdirs = "==4.3.2"
psycopg2-binary = "==2.9.10"
pycosat = "==0.6.6"
pycparser = "==2.21"
pygments = "==2.19.1"
pyopenssl = "==25.0.0"
pyparsing = "==3.2.3"
pysocks = "==1.7.1"
python-dateutil = "==2.9.0.post0"
pytz = "==2025.2"
pyyaml = "==6.0.2"
requests = "==2.32.3"
rich = "==14.0.0"
ruamel-yaml-conda = "==0.15.100"
scikit-learn = "==1.6.1"
scipy = "==1.13.1"
seaborn = "==0.13.2"
shellingham = "==1.5.4"
six = "==1.17.0"
sqlalchemy = "==2.0.40"
statsmodels = "==0.14.4"
threadpoolctl = "==3.6.0"
toolz = "==1.0.0"
tqdm = "==4.67.1"
typer = "==0.15.2"
typing-extensions = "==4.12.2"
tzdata = "==2025.2"
tzlocal = "==5.3.1"
urllib3 = "==2.3.0"
virtualenv = "==20.26.4"
xgboost = "==2.1.4"
zipp = "==3.21.0"
zstandard = "==0.23.0"

[dev-packages]

[requires]
python_version = "3.9"
